* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background: #1C1C1C;
    padding: 20px;
    font-family: 'Karla', sans-serif;
  }
  .questionPage{
    min-width: 550px;
    min-height: 550px;
    background:#F5F7FB ;
    border-radius: 5px;
    padding:20px;
    

  }
  .temp{
    background-color: white;
    padding: 20px;
    outline-color: pink;
    border-radius: 8px;
    border-color: #1C1C1C;
    border-width: 2px;
    box-sizing: border-box;

    width: 65.92px;
height: 20.65px;
left: 153.63px;
top: 70.98px;

border: 1px solid #4D5B9E;

  }
  input[type="radio"]{
    /* appearance: none; */
  }
  fieldset{
    border:0;
  }